<div class="view">
  <mat-sidenav-container class="nav-view" [hasBackdrop]="false">

    <mat-sidenav class="side-open" #sidenav [mode]="'push'">
      <mat-nav-list>
        <mat-list-item class="sidebar-item">Item 1</mat-list-item>
        <mat-list-item class="sidebar-item">Item 2</mat-list-item>
        <mat-list-item class="sidebar-item">Item 3</mat-list-item>
        <mat-list-item class="sidebar-item">Item 4</mat-list-item>
        <mat-list-item class="sidebar-item">Item 5</mat-list-item>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content class="nav-content">
      <i class="fas fa-bars fa-3x" id="menu-toggle" (click)="sidenav.toggle()"></i>
    </mat-sidenav-content>

  </mat-sidenav-container>
</div>
