<div class="view">
  <mat-sidenav-container class="nav-view" [hasBackdrop]="false">

    <mat-sidenav class="side-open" #sidenav [mode]="'push'">
      <ul class="list-group sidebar-list">
        <li class="list-group-item"><b>Item 1</b></li>
        <li class="list-group-item"><b>Item 2</b></li>
        <li class="list-group-item"><b>Item 3</b></li>
        <li class="list-group-item"><b>Item 4</b></li>
        <li class="list-group-item"><b>Item 5</b></li>
      </ul>
    </mat-sidenav>

    <mat-sidenav-content class="nav-content">
      <i class="fas fa-bars fa-3x" id="menu-toggle" (click)="sidenav.toggle()"></i>
    </mat-sidenav-content>

  </mat-sidenav-container>
</div>
