/*
#00FDFF rgb(0, 253, 255)
#009696 rgb(0, 150, 150)
#00FF70 rgb(0, 255, 112)
#FF416B rgb(255, 65, 107)
#DB38AE rgb(219, 56, 174)
*/

.nav-view {
  width: 100vw;
  height: 100vh;
  background-color: rgb(0, 150, 150);
}

.side-open {
  box-shadow: none;
  width: 250px;
  background-color: rgb(0, 99, 99);
}

#menu-toggle {
  padding-left: 3%;
  padding-top: 2%;
  color: black;
  transition: background-color 1.0s ease;
}

#menu-toggle:hover {
  color: white;
}

.nav-content {
  background-color: rgb(0, 150, 150);
}

.sidebar-item {
  color: rgb(255, 255, 255);
  background-color: rgb(0, 99, 99);
  transition: background-color 0.25s ease;
  color: white;
  font-family: "Roboto", sans-serif !important;
  font-size: 18pt !important;
  font-weight: lighter !important;
}
.sidebar-item:hover {
  color: rgb(0, 0, 0);
  background-color: rgb(0, 150, 150);
}
