.logo-sidebar {
  padding-top: 5%;
}

.logo {
  margin: 0 auto;
  width: 33.3%;
  height: auto;
}

.sidebar-item {
  color: white;
  background-color: rgb(0, 99, 99);
  font-size: 18pt !important;
  transition: all 0.25s ease;
}
.sidebar-item:hover {
  color: black;
  background-color: rgb(0, 150, 150);
}
