@import '~@angular/material/theming';

@include mat-core();

#sidebar-button{
  margin-left: 3%;
  margin-top: 3%;
  z-index: 1;
  position: absolute;
}
.mat-slider-horizontal .mat-slider-track-fill{
  background-color: black;
}
.mat-slider-track-fill{
  background-color: gray;
}
#graphic-col{
  height: 100vh !important;
  text-align: center;
}

#options-col{
  height: 100vh !important;
  background-color: white;
}

#maker-keyboard{
  width: 80%;
  margin-top: 30vh;
}

.content{
  position: relative;
  height: 100vh !important;
  margin-left: 5%;
  overflow-x: hidden;
  overflow-y: hidden;
}

.top-row{
  margin-top: 5%;
}

.view{
      background-color: #00ff70 !important;
}

$primary: mat-palette($mat-indigo);

mat-button-toggle {
    background-color: mat-color($primary) !important;
    color: mat-color($primary, default-contrast) !important;
  }
