<div class="view">
  <div id="sidebar-button">
    <app-sidebar-toggle-button></app-sidebar-toggle-button>
    <div class="container">
      <div ngbDropdown>
        <button class="btn btn-outline-primary" id="dropdownConfig" ngbDropdownToggle><strong>{{displayMessage}}</strong></button>
        <div ngbDropdownMenu aria-labelledby="dropdownConfig">
          <button class="dropdown-item" *ngFor="let type of types" (click)="updateSelection(type)">{{type}}</button>
        </div>
      </div>
      <input type="number">
      <div class="octave">
        <h1>{{octave}}</h1>
      </div>
    </div>
  </div>
</div>
